/* 한글폰트 */
@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 전체적용 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, GmarketSansMedium;
    text-decoration: none;
    /* color: inherit; */
    color: #ffffff; /* [240903 수정] 기본 텍스트 색상: 흰색 */
}

.root {
    width: 80%;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    font-size: 18px;
    height: 780px;
}

.main-content {
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #0f1015; /* [240903 수정] 배경색 */
    color: #ffffff; /* [240903 수정] 텍스트 색상 */
}

.search-box {
    margin-top: 30px;
}

.search {
    margin: 10px 0px 5px 15px;
    padding: 5px 20px;
    font-size: 18px;
}

.search.label {
    position: relative;
    margin-left: 0px;
    /* border: 1px solid black;
    color: #000; */

    border: 1px solid #444; /* [240903 수정] 테두리 색상 */
    color: #ffffff; /* [240903 수정] 텍스트 색상 */
    background-color: #1a1c23; /* [240903 수정] 배경색 */
}

/* [240903 추가] */
.search.input {
    padding: 10px;
    border: 1px solid #444; /* 테두리 색상 */
    background-color: #1a1c23; /* 배경색 */
    color: #ffffff; /* 텍스트 색상 */
}

/* [240903 추가] */
.search.button {
    background-color: #1a73e8; /* 버튼 색상 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.table-container {
    margin-top: 30px;
}

.pagination-container {
    margin-bottom: 30px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff; /* [240903 수정] 텍스트 색상 */
}
table,
th,
td {
    /* border: 1px solid black; */
    border: 1px solid #444; /* [240903 수정] 테두리 색상 */
}
th,
td {
    padding: 10px;
    text-align: left;
    background-color: #1a1c23; /* [240903 수정] 테두리 색상 */
}
