.chat-room {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* max-width: 80vh; */
    width: 800px;
    margin: 50px 50px 50px 350px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* background-color: #f9f9f9; */
    background-color: #0f1015;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: #e1f5fe; */
    background-color: #0f1015;
    color: white;
    border-radius: 4px;
}

.input-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.input-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.input-form button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
