/* 한글폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.root {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

.userInfo-box, .userLecture-box, .userDelete-box {
  padding: 30px 100px 50px 100px;
  width: 100%;
  /* height: 500px; */
  background-color: whitesmoke;
}

.userInfoBoxTitle, .userLectureBoxTitle, .userDeleteBoxTitle {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 500;
}

/* 유저회원정보 */
.userGridContainer {
  display: grid;
  grid-template-columns:  1.3fr 0.7fr 1fr 1fr 1.3fr 0.7fr 1fr 1fr;
  background-color: #2196F3;
  border: 1px solid #333333;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  margin: 70px auto 20px auto;
  background-color: white;
}

.userLectureGraphContainer {
  margin: 10px 0 0 0;
  padding-bottom: 50px;
}

.userLectureStudyingContainer, .userLectureCancelContainer, .userDeleteContainer, .userLectureCompleteContainer {
  width: 100%;
  padding: 20px;
}

.lectureCancel{
  font-size: 0.9rem;
}

.userGridContainer > div{
  display: inline;
  font-size: 20px;
  border: 1px solid #333333;
  height: 50px;
  white-space: nowrap;
  padding-right: 5px;
  line-height : 50px;
}

.userGridContainer > div > input {
  width: 100%;
  margin: 0;
  outline: none;
  background: transparent;
  border: none;
  height: inherit;
  font-size: 20px;
  border-radius: 0;
  padding: 0 10px;
}

.userGrid1, .userGrid5, .userGrid9, .userGrid13,.userGrid17, .userGrid21, .userGrid23 {
  grid-column: 1 / span 1;
  text-align: right;
}
.userGrid2, .userGrid6, .userGrid10, .userGrid14, .userGrid18 {
  grid-column: span 3;
  text-align: left;
}
.userGrid3, .userGrid7, .userGrid11, .userGrid15,.userGrid19 {
  grid-column: span 1;
  text-align: right;
}
.userGrid4, .userGrid8, .userGrid12, .userGrid16,.userGrid20 {
  grid-column: span 3;
  text-align: left;
}
.userGrid22, .userGrid24 {
  grid-column: span 7;
}

.userGrid24 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
}

.userGrid24  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.userGrid24 li {
  margin: 0;
  padding: 0 10px;
  float: left;
}

.userDataCheckBox {
  scale: 2.0;
}

.userGrid > div, .adressBox {
  margin-left: 10px;
  color: #6b6bbd;
}

#userGrid22 {
  padding: 0;
  display: grid;
  grid-template-columns: 1.5fr 1.2fr 4fr 4fr;
  align-items: center;
}

.adressBox, .adressBox2 {
  width: 95% !important;
  height: 90% !important;
  margin: 0 auto !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  white-space: nowrap;
  border: 0.5px solid #333333 !important;
  border-radius: 5px !important;
  line-height :normal !important;
}

.adressSearchButton{
  font-size: 16px;
  text-align: center;
  padding: 6px;
  border: 2px solid #333333 !important;
  background-color: dodgerblue;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}

.userLectureGraph {
  width: 90%;
  border: 7px solid #333333;
  border-radius: 20px;
  margin: 0 auto;
}

.userLectureGraphGraduations {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 85%;
  height: 350px;
  margin: 50px auto;
}

.userCompleteLecSearchBarBorder, .userCancelLecSearchBarBorder {
  width: 70%;
  margin: 0 auto 30px auto;
  border: 12px solid rgb(141, 191, 232);
  border-radius: 20px;
}

.userGraphSearchBar, .userCompleteLecSearchBar, .userCancelLecSearchBar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 50px;
  width: 40%;
  margin: 20px auto 20px auto;
}

.userGraphSearchBar {
  width: 30% !important;
}

.userGraphSearchBar > input, .userCompleteLecSearchBar > input, .userCancelLecSearchBar > input {
  padding: 0 10px;
}

select option[value=""][disabled] {
  display: none;
}

select:invalid {
  color: #8c8c8c;
}

#userGraphSearchBtn, #userCompleteLecSearchBtn, #userCancelLecSearchBtn {
  font-weight: 500;
  color: white;
  background-color: dodgerblue;
  border: 3px solid dodgerblue;
  cursor: pointer;
}

#userGraphSearchBtn:hover, #userCompleteLecSearchBtn:hover, #userCancelLecSearchBtn:hover {
  color: dodgerblue;
  background-color: skyblue;
}


input::placeholder {color:#8c8c8c;}
input::-webkit-input-placeholder {color:#8c8c8c;}
input::-ms-input-placeholder {color:#8c8c8c;}

.userGraphSearchBar > input, .userGraphSearchBar > select, .userGraphSearchBar > div, 
.userCompleteLecSearchBar > input, .userCompleteLecSearchBar > select, .userCompleteLecSearchBar > div, 
.userCancelLecSearchBar > input, .userCancelLecSearchBar > select, .userCancelLecSearchBar > div{
  margin: 2px;
  height: 40px;
}

.userGraphSearchBar > div, .userCompleteLecSearchBar > div, .userCancelLecSearchBar  > div {
  background-color: dodgerblue;
  border-radius: 3px;
  text-align: center;
  line-height: 200%;
}

.userdataupdateBtnBox {
  display: flex;
  justify-content: flex-end;
}

.userDataUpdateBtn:hover, .userDataUpdateBtn2:hover, .adressSearchButton:hover {
  background-color: lightblue;
  color: dodgerblue;
}

.userDataUpdateBtn1:hover, .userDeleteBtn:hover {
  background-color: orange;
  color: crimson;
}

.userDataUpdateBtn, .userDataUpdateBtn1, .userDataUpdateBtn2 {
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.userDataUpdateBtn, .userDataUpdateBtn2 {
  background-color: dodgerblue;
}

.userDataUpdateBtn1 {
  background-color: crimson;
}

